.cursor-pointer {
  cursor: pointer !important;
}

.text-primary {
  color: $primary !important;
}

.text-info {
  color: $info !important;
}

.text-danger {
  color: $danger !important;
}

.text-warning {
  color: $warning !important;
}

.text-success {
  color: $success !important;
}

.text-secondary {
  color: $secondary !important;
}

.text-dark {
  color: $dark !important;
}

.text-light {
  color: $light !important;
}

.text-wite {
  color: $white !important;
}

.semi-bold {
  font-weight: 600 !important;
}