.homeCard-wiki {
    background-image: url('../images/light-bulb.jpg') !important;
    background-size: cover;
}

.homeCard-components {
    background-image: url('../images/building-blocks.jpg') !important;
    background-size: cover;
}

.homeCard-blog {
    background-image: url('../images/writing.jpg') !important;
    background-size: cover;
}
  